// ==========================================================================
// Base Styles
// ==========================================================================
// What your project's base elements should look like by default:

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	font-family: $base-font;
	color:$base-font-color;
	font-size: $base-font-size;
	line-height: $base-line;
}

section {
	// Section Styles
}

h1 {	
	font-family: $font-secondary; 
	font-size: 45px;
	line-height: 55px;
	font-weight: $font-weight-bold;		
}

h1.display-two {
	font-size: 40px;
	line-height: 57px;
}

h2 {
	margin-bottom: 20px;
	font-family: $font-primary; 
	font-size: 30px;
	line-height: 38px;
	font-weight: $font-weight-medium;
}

h3 {
	font-family: $font-secondary; 
	font-size: 25px;
	line-height: 33px;
	font-weight: $font-weight-medium;
}

h4 {
	font-family: $font-primary; 
	font-size: 23px;
	line-height: 31px;
	font-weight: $font-weight-medium;
}

h5 {
	font-family: $font-secondary;
	font-size: 20px;
	line-height: 28px;
	font-weight: $font-weight-medium;
}

h6 {
	font-family: $font-primary;
	font-size: 20px;
	line-height: 28px;
	font-weight: $font-weight-medium;
}

p {
	margin-bottom: 20px;
	font-family: $font-primary; 
	font-size: 17px;	
	font-weight: $font-weight-medium;
	line-height: 25px;
}

p.bold {
	margin-bottom: 20px;
	font-family: $font-secondary; 
	font-size: 17px;	
	font-weight: $font-weight-medium;
	line-height: 25px;
}
p.lead {
	margin-bottom: 20px;
	font-family: $font-primary; 
	font-size: 19px;	
	font-weight: $font-weight-medium;
	line-height: 27px;
}

p.small {
	margin-bottom: 20px;
	font-family: $font-primary; 
	font-size: 15px;	
	font-weight: $font-weight-medium;
	line-height: 23px;
	color: $gray;
}

a {
	transition: all 0.2s;
	color: $color-secondary;
	font-family: $font-primary;
	font-size: 16px;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: $color-tert;
	}
}

blockquote{
	position: relative;
	padding: 50px 39px 20px;
	font-family: $font-secondary;
	font-size: 22px;
	line-height: 30px;
	border-left: 0;
	p,q{
		font-family: $font-secondary;
		font-size: 22px;
		line-height: 36px;
		font-weight: $font-weight-medium;
	}
	cite{
		margin-top: 10px;
		display: block;
		font-style: normal;
		font-family: $font-primary;
		font-size: 17px;
		font-weight: $font-weight-bold;
		color: $black;
		line-height: 25px;
	}
}

ul{
	position: relative;
	padding-left: 13px;
	margin-bottom: 23px;
	li{
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: $font-weight-light;
		font-family: $font-primary;
	}
}

ol {
    position: relative;
    padding-left: 0px;
    margin-bottom: 30px;
    list-style: none;
    counter-reset: ol-counter;
    li {
        position: relative;
        padding-left: 15px;
        font-size: 16px;
        font-weight: $font-weight-light;
        font-family: $font-primary;
        margin-bottom: 10px;
    }
    &>li:before {
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 16px;
        font-family: $font-primary;
        font-weight: $font-weight-medium;
        content: counter(ol-counter);
        counter-increment: ol-counter;
        color: inherit;
    }
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
   	border: 0;
   	height: 2px;
   	background: $color-accent-shadow;
}

table{
	width: 100%;
	th{
		padding: 11px 25px;
		min-width: 210px;
		text-align: inherit;
		font-weight: $font-weight-medium;
		font-family: $font-primary;
		font-size: 16px;
		color: $color-tert;
		background-color: $color-accent;
		border:2px solid $color-border;
	}
	td{
		padding: 11px 25px;
		font-family: $font-primary;
		font-weight: $font-weight-light;
		font-size: 15px;
		line-height: 25px;
		border:2px solid $color-border;
	}
}


mark{
	background: $color-secondary;
}

// em{
// 	color: $color-primary;
// }

a {
	color: $color-primary;
	text-decoration: underline;
	font-weight: $font-weight-bold;
	&:hover {
		text-decoration: underline;
	}
}

