// Buttons
//--------------------------------------------------------------------------------//

// Base
.btn {
	transition: all 0.2s;
	padding: 11px 22px 10px 22px;
	color: $white;
	font-size: 16px;
	font-weight: $font-weight-medium;
	text-align: center;	
	font-family: $font-primary;
	background-color:  $text-color-secondary;
	border-color:  $text-color-secondary;
	text-decoration: none;
	font-weight: 700;
	&:hover,
	&:active,
	&:focus {
		color: $white;
		border-color: darken( $text-color-secondary, 15%);
		background-color: darken( $text-color-secondary, 15%);
	}
}

// Default Button
.btn-default {
	color: $white;
	background-color: $validation-color-info;
	border-color: $validation-color-info;
	text-transform: capitalize;
	&:hover,
	&:active,
	&:focus {
		color: $white !important;
		border-color: darken($validation-color-info, 15%) !important;
		background-color: darken($validation-color-info, 15%) !important;
	}
}

// Primary Button
.btn-primary {	
	border-color: $color-primary;
	@include vert-linear-gradient(#5BB456, #4D9B49);
	&:hover,
	&:active,
	&:focus {
		color: $white !important;
		border-color: darken($color-primary, 15%) !important;
		background-color: darken($color-primary, 15%) !important;
	}
}

// Secondary Button
.btn-secondary {		
	font-weight: $font-weight-bold;
	@include vert-linear-gradient(#535353, #292929);
	text-decoration: none;
	color: $color-primary;
	border: none;	
	font-size: 16px;
	&:hover,
	&:active,
	&:focus {
		color: $color-primary;
		background-color: darken(#292929, 15%);
		text-decoration: none;
	}
}

// Tertiary Button
.btn-tert {
	color: $white;
	background-color: $color-tert;
	border-color: $color-tert;	
	text-transform: capitalize;
	&:hover,
	&:active,
	&:focus {
		// color: $white;
		// background-color: darken($color-tert, 5%);
		color: $white;
		border-color: darken( $text-color-secondary, 15%);
		background-color: darken( $text-color-secondary, 15%);
	}
}


.btn-secondary {
	@include vert-linear-gradient(#535353, #292929);
	text-decoration: none;
	color: $color-primary;
	border: none;	
	font-size: 16px;
}


#btn-cart-icon {
	stroke: $white;	
}



