// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
//--------------------------------------------------------------------------------//
$font-primary    : 'Roboto Medium', sans-serif;
$font-secondary  : 'Roboto Bold', sans-serif;


// Font Weights
//--------------------------------------------------------------------------------//
$font-weight-thin       : 200;
$font-weight-light      : 400;
$font-weight-medium     : 500;
$font-weight-bold       : 700;
$font-weight-ultra-bold : 900;


// Descriptive Base Colors
//--------------------------------------------------------------------------------//
// Colour name picker: http://chir.ag/projects/name-that-color/#6195ED

// Defined Colors:
$cape-cod		 : #445051;
$flame-pea		 : #db5149;
$apple			 : #599439;
$golden-tainoi	 : #FFD166;
$danube			 : #4C90CD;
$boulder		 : #787878;
$cod-gray		 : #2D2D2D;
$aqua-haze		 : #f1f7f7;
$alto			 : #DDDDDD; 
$aluminum		 : #CDCDCD;


// Landmark Colors
$fern            : #5BB456;
$golden-fizz     : #FFEB31;
$mine-shaft      : #3A3A3A;
$ecstasy         : #F57620;
$dodger-blue     : #389EF6;
$black-squeeze   : #F6FAFC;


// Defined Shades:
$white           : #FFFFFF;
$black           : #000000;
$gray            : #919191;


// Color Usage
//--------------------------------------------------------------------------------//

// Assigned Primary Colors
$color-primary    		  : $fern;
$color-secondary  		  : $golden-fizz;
$color-tert 	  		  : $ecstasy;
$color-light-bg           : $black-squeeze;
$color-shadow     		  : rgba($black, .2);

// Accent Coloring
$color-accent     		  : $dodger-blue;
$color-accent-shadow 	  : $black-squeeze;
$color-border			  : $black-squeeze;

// Greys
$color-grey-light 		  : lighten($gray, 20%);
$color-grey-medium 		  : $gray;
$color-grey-dark 		  : $mine-shaft;

// Text Colors
$text-color-primary 	  : $black;
$text-color-secondary 	  : $gray;

// Validation Colors
$validation-color-success : $apple;
$validation-color-warning : $golden-tainoi;
$validation-color-danger  : $flame-pea;
$validation-color-info    : $danube;


// Font Defaults
//--------------------------------------------------------------------------------//
$base-font-size    : 16px;
$base-line         : 26px;
$base-font   	   : $font-secondary; 
$base-font-color   : $text-color-primary;

// Path to Assets 
//--------------------------------------------------------------------------------//
$path-rel       : '../images/';
//Example Usage: background-image: url(   $path-rel + 'bg-lines.svg  ');
