// Define Footer Styles

footer {
    background: $white;
    padding: 60px 0px 0px;

    ul.list-unstyled {
        li {
            a {
                text-decoration: none;
                font-size: 17px;
                color: #3A3A3A;
                line-height: 40px;
                font-weight: $font-weight-medium;
            }
        }
    }
    p {        
        font-size: 17px;
        color: #3A3A3A;
        line-height: 25px;
    }
    p.footer-copy {
        padding: 20px 0px;
    }

    input.form-control {
        
        border-right: 0;
    }
    .input-group {
        width: 64% !important;
    }
    .input-group-text {
        border-left: 0;
    }


    .social-section {
        padding-top: 15px;
        a {
            text-decoration: none;
            word-spacing: 14px;
        }
    }

    .footer-copyright {
        background: $black-squeeze;
        p {
            font-size: 17px;
            color: #919191;
            line-height: 25px;
            margin-bottom: 0px;
        }
    }
}