// System Overwites



a:focus,
button:focus,
input:focus,
textarea:focus {
outline: none;
}


form{
	.required label:after{
		position: relative;
		top: -9px;
		margin-left: 3px;
		font-family: FontAwesome;
	  	// content: "\f005"; - Star
	  	content: "\f069";
	  	font-size: 9px;
	  	line-height: 10px;
	  	color: $validation-color-danger; 
	}
	label{
		font-family: $font-primary;
		font-weight: 300;
		font-size: 17px;		
		line-height: 25px;
		color: #3A3A3A;
		font-weight: $font-weight-medium;
	}
	.form-control{		
		background: #FFFFFF;
		border: 2px solid #E4E4E4;
		border-radius: 2px;
		&::-webkit-input-placeholder {
			color: $color-grey-light;
		}
		&::-moz-placeholder {
			color: $color-grey-light;
		}
		&:-ms-input-placeholder {
			color: $color-grey-light;
		}
		&:-moz-placeholder {
			color: $color-grey-light;
		}
	}
	select.form-control, select{
	  	&.parsley-error{

	  	}
	  	&.parsley-success{

	  	}
	}
	.parsley-success{
		border-color: $validation-color-success;
		&::-webkit-input-placeholder {
			color: $validation-color-success;
		}
		&::-moz-placeholder {
			color: $validation-color-success;
		}
		&:-ms-input-placeholder {
			color: $validation-color-success;
		}
		&:-moz-placeholder {
			color: $validation-color-success;
		}
	}

	.parsley-error{
		border-color: $validation-color-danger;
		&::-webkit-input-placeholder {
			color: $validation-color-danger;
		}
		&::-moz-placeholder {
			color: $validation-color-danger;
		}
		&:-ms-input-placeholder {
			color: $validation-color-danger;
		}
		&:-moz-placeholder {
			color: $validation-color-danger;
		}
	}
	.parsley-errors-list{
		margin-bottom: 0;
		padding-left: 0;
		color: $validation-color-danger;
		list-style-type: none;
		li{
			margin-top: 5px;
			font-size: 12px;
		}
	}
	.checkbox, .radio{
		margin-top: 0;
	}
	.checkbox-inline, .radio-inline{
		padding-left: 35px;
	}
	.checkbox input[type=checkbox], 
	.checkbox-inline input[type=checkbox],
	.radio input[type=radio],
	.radio-inline input[type=radio]{
		margin: 6px 0 0;
		margin-left: -20px;
	}
	input[type=search]{
		border-left: none;
	}
}

.alert{
	padding: 10px 12px;
	font-family: $font-primary;
	font-size: 16px;
	line-height: 26px;
	border:2px solid transparent;
	ul{
		padding-left: 20px;
	}
}
.alert-success{
	color: $validation-color-success;
	border-color:$validation-color-success;
	background:lighten($validation-color-success, 50%) url($path-rel + 'icon-validation-success.svg') right 15px center no-repeat;
}
.alert-warning{
	color: $validation-color-warning;
	border-color: $validation-color-warning;
	background:lighten($validation-color-warning, 28%) url($path-rel + 'icon-validation-warning.svg') right 15px center no-repeat;
}
.alert-danger{
	color: $validation-color-danger;
	border-color: $validation-color-danger;
	background:lighten($validation-color-danger, 35%) url($path-rel + 'icon-validation-error.svg') right 15px center no-repeat;
}

.alert-info{
	color: $validation-color-info;
	border-color: $validation-color-info;
	background:lighten($validation-color-info, 41%);
}


// Bootstrap Overwrites
.input-group-text{
	background: $white;
}