// Define Header Styles
.navbar {    
    .container {
        position: relative;
    }    
    .dropdown {
        .dropdown-menu {
            padding: 0;            
            border-right: 0;
            height: 684px;
            border-radius: 0;
            .dropdown-item {
                border-top: 1px solid #E9ECF1;
                border-right: 1px solid #E9ECF1;
                border-bottom: 1px solid #E9ECF1;
                text-decoration: none;
                line-height: 55px;
                font-size: 16px;
                color: $black;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                background: $black-squeeze;
                &:hover {
                    color: $color-primary;
                    background: $white;
                    border-right: 0;
                }                
            }
        }
    }
}
a.navbar-brand {
    img {
        width: 189px;
        height: 55px;    
    }
}
ul {
    li.nav-item {
        margin-bottom: 0px;
        .form-inline {
            margin-top: 2px;
        }
    }
}
a.nav-link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: text-decoration 0.7s;
    transition: text-decoration 0.7s;
    font-weight: $font-weight-bold;
    &.highlight {
        color: $color-secondary;
    }
    &:hover {
        text-decoration: underline;
    }    
}

.navbar input[type=search] {
    background: transparent;
    width: 100px;
    border: none;
    border-color: transparent;
    padding-left: 0px;
    width: 87px;    
    font-weight: $font-weight-bold;
    &::-webkit-input-placeholder {
        color: $white;
        font-size: 16px;
        text-transform: uppercase;
    }
    &::-moz-placeholder {
        color: $white;
        font-size: 16px;
        text-transform: uppercase;
    }
    &:-ms-input-placeholder {
        color: $white;
        font-size: 16px;
        text-transform: uppercase;
    }
    &:-moz-placeholder {
        color: $white;
        font-size: 16px;
        text-transform: uppercase;
    }
}

.navbar .js-search-expand {
    background: $white !important;
    border-radius: 2px;
    min-width: 200px !important;
    border: none;
    border-color: transparent;
    padding-left: 0px;
    width: 87px;    
    &::-webkit-input-placeholder {
        color: $color-grey-light;
        font-size: 16px;
        text-transform: uppercase;
    }
    &::-moz-placeholder {
        color: $color-grey-light;
        font-size: 16px;
        text-transform: uppercase;
    }
    &:-ms-input-placeholder {
        color: $color-grey-light;
        font-size: 16px;
        text-transform: uppercase;
    }
    &:-moz-placeholder {
        color: $color-grey-light;
        font-size: 16px;
        text-transform: uppercase;
    }
}


.navbar .input-group-text {
    background: transparent;
    border: none;
}

.navbar .input-group-text-expanded {
    background: $white;
    border: none;
}



.nav-middle {
    width: 100%;
}
#search-icon {
    stroke: white;    
}

.item-count {
    padding-left: 5px;
}
.navbar-cta {
    width: 100%;    
}

.nav-bottom {
    width: 100%;
    ul {
        li.nav-item{
            margin-bottom: 0;
            &:hover {
                background: $white;
            }
        }
    }        
    a.nav-link {
        color: $black;
        &:hover {
            text-decoration: none;
            color: $color-primary;            
        }
    }
}

.js-close-cta {
    cursor: pointer;
}

.nav-cta {
    li {
        margin-bottom: 0px;
    }
}


.mega-menu-item {
    max-width: 150px;
    width: 150px;
}


.dropdown-cart {
    right: 0;
    background: $white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);
    border-radius: 0 0 2px 2px;
    padding: 30px !important;
    top: 93%;
    max-height: 377px;
    hr {
        margin: 10px auto;
    }
    .cart-header {                
        font-size: 17px;
        color: $black;
        line-height: 25px;
    }    
    .cart-total {
        text-transform: uppercase;                  
        line-height: 15px;
        margin-top: 15px;
        .subtotal {
            font-weight: $font-weight-bold;              
            font-size: 14px;
            color: #919191;
        }
        .subtotal-amount {            
            font-size: 20px;
            color: #3A3A3A;
            text-align: center;
            line-height: 28px;
            font-weight: $font-weight-bold;            
        }
        .subtotal-amount-saved {
            font-size: 16px;
            color: $color-primary;
            line-height: 30px;
            font-weight: $font-weight-bold;
            em {
                color: #FF5D57;
            }
        }
    }
    .cart-copy {
        font-size: 17px;
        color: #3A3A3A;
        line-height: 25px;
        margin-bottom: 10px;
        padding: 10px 0 15px;
    }
    #icon-cart {
        fill: $white;
        padding-right: 10px;
    }
}


.show .btn-secondary {
    background: $white;
    color: $color-primary;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;    
    #icon-cart {
        fill: $color-primary;
    }
}


.show.dropdown-cart {
    border-top: 0;
}



.tab-content {
    background: white;
    width: 71%;
    position: absolute;
    right: 15px;
    top: 50px;    
    a {
        text-decoration: none;
    }
}


.nav-pills .nav-link {
    border-top: 1px solid #E9ECF1;
    border-right: none;
    border-bottom: 1px solid #E9ECF1;
    text-decoration: none;
    line-height: 41px;
    font-size: 16px;
    color: $black;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    background: $black-squeeze;
    border-radius: 0px;
    &:hover {
        color: $color-primary;
        background: $white;
        border-right: 0;
        text-decoration: none;        
    }                
}


.nav-pills {
    width: 300px;
}

.nav-pills .nav-link.active {
    background: $white;
    color: $color-primary;
    border-radius: 0;
}



.mega-menu-tile {
    text-align: center;
    background-size: cover;
    margin: 10px auto;
    width: 160px;
    height: 160px;
    position: relative;    
    .menu-tile-text {
        font-size: 16px;
        color: $white;        
        font-weight: $font-weight-bold;
        z-index: 20;
    }
}


.tab-pane {
    a.link-underline  {
        text-decoration: underline;
        &:hover {
            color: $color-primary;
        }
    }
}

.tab-content {
    z-index: 100;
    top: 55px;
}

.tab-pane.open {
    padding: 10px;
    border-bottom: 1px solid $color-grey-light;
}



.hamburger {
    padding: 7px 0px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 26px;
    height: 4px;
    background-color: $white;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: $white;
}

.hamburger.is-active .hamburger-inner {
    width: 26px;
}

.hamburger-inner {
    width: 19px;
}