// ==========================================================================
// Helpers
// ==========================================================================

// Display Helpers
//--------------------------------------------------------------------------------//
.db {display: block;}
.dib {display: inline-block;}
.rl {position: relative;}
.p100 {width: 100%;}
.centered-block {margin: 0 auto;}

// Margin & Padding Helpers
//--------------------------------------------------------------------------------//
.mt0 {margin-top: 0px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mr0 {margin-right: 0px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mb0 {margin-bottom: 0px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.ml0 {margin-left: 0px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.pt0 {padding-top: 0px;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pr0 {padding-right: 0px;}
.pr5 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pb0 {padding-bottom: 0px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pl0 {padding-left: 0px;}
.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}


// Stacking Helpers
//--------------------------------------------------------------------------------//
.z1{
	position: relative;
	z-index: 1;
}
.z2{
	position: relative;
	z-index: 2;
}
.z3{
	position: relative;
	z-index: 2;
}

// Responsive Helpers
//--------------------------------------------------------------------------------//
.show-tablet{
	display: none;
	@include breakpoint(tablet-large) {
		display: block;
	}
}

.show-mobile{
	display: none;
	@include breakpoint(tablet) {
		display: block;
	}
}

.hidden-desktop{
	display: none;
	@include breakpoint(tablet-large) {
		display: block;
	}
}
.hidden-tablet{
	@include breakpoint(tablet-large) {
		display: none;
	}
}
.hidden-mobile{
	@include breakpoint(tablet) {
		display: none;
	}
}


// Coloring Helpers
//--------------------------------------------------------------------------------//
.colored-primary{
	color:$color-primary !important;
}
.colored-secondary{
	color:$color-secondary !important;
}
.colored-tert{
	color:$color-tert !important;	
}

// Construction Helpers
//--------------------------------------------------------------------------------//
.mobile-size-guide {
	@include breakpoint(desktop) {
		border: 1px solid green !important;
	}

	@include breakpoint(tablet-large) {
		border: 1px solid yellow !important;
	}

	@include breakpoint(tablet) {
		border: 1px solid orange !important;
	}

	@include breakpoint(phone) {
		border: 1px solid red !important;
	}
}


.hidden {
	display: none;
}