// Define Landing Styles
.hero {
    padding-top: 150px;
    .hero-header {      
        color: $white;    
        background: rgba(0, 0, 0, 0.75);
        margin: 120px auto;
        padding: 30px;
        p {
            font-weight: $font-weight-bold;
            color: #FFFFFF;
            line-height: 25px;
        }
    }
}

// Gallery Section
.gallery {    
    .gallery-item {
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 450px;
        max-height: 450px;
        height: 450px; 
        .gallery-item-content {
            padding-top: 80px;            
            h1.display-two {                
                color: $white;
                padding: 5px;
                width: 89%;
                &:nth-child(2){
                    width: 45%;
                }
            }
            p {                
                color: $white;
                padding: 5px;
                font-weight: $font-weight-bold;
            }
        }        
    }
    .gallery-row-middle {
        width: 100%;        
        .gallery-item-two {
            width: 45%;
            float: left;
            .gallery-item-content {
                padding-left: 47%;
                h1.display-two {
                    width: 75%;
                    &:nth-child(2) {
                        width: 62%;
                    }
                    &:nth-child(3) {
                        width: 60%;
                    }
                }
                p {
                    width: 70%;
                }
            }            
        }
        .gallery-item-three {
            width: 55%;
            float: left;
            .gallery-item-content {
                padding-left: 10%;
                h1.display-two {
                    width: 48%;
                    &:nth-child(2) {
                        width: 30%;
                    }
                }
                p {
                    width: 45%;
                }
            }
        }
    }
    .gallery-row-bottom {
        width: 100%;        
        .gallery-item-four {
            width: 50%;
            float: left;
            .gallery-item-content {
                padding-left: 42%;
                h1.display-two {
                    width: 63%;
                    &:nth-child(2) {
                        width: 75%;
                    }
                }
                a {
                    background: $black;
                    padding: 10px;
                    font-weight: $font-weight-bold;
                }
            }                        
        }
        .gallery-item-five {
            width: 50%;
            float: left;
            .gallery-item-content {
                padding-left: 10%;
                // h1.display-two {
                //     width: 55%;
                //     &:nth-child(2) {
                //         width: 75%;
                //     }
                // }
                p {
                    width: 40%;
                }                   
            }                      
        }
    }
}


.section-header {
    padding: 80px 0px 20px;        
    h3 {
        font-weight: $font-weight-bold;
    }
    a {
        margin-top: 8px;
    }
    
}

.products {
    padding-bottom: 20px;
    border-bottom: 1px solid $color-grey-light;        
}



.card-product {
    .info-wrap {
        .title {
            font-size: 18px;
            color: $black;
            line-height: 20px;
            font-weight: $font-weight-bold;
        }
    }
}



.blockquote {
    background-image: url($path-rel+"testimonial-quote.png");
    background-size: 115px 82px;
    background-repeat: no-repeat;
}


.cta-contact {
    .contact-cta-copy {
        font-size: 20px;
        color: #E4E4E4;
        a {
            color: $white;
            text-decoration: none;                                    
            font-size: 20px;
        }
    }
}


.product-link {
    text-decoration: none;
    color: $black;
    font-weight: $font-weight-medium;
    &:hover {
        text-decoration: none;
        color: inherit;        
    }
}


.video-container {
    position: relative;
    width: 373px;
    height: 256px;
}


#play-arrow {    
    position: absolute;
    top: 37%;
    left: 39%;
}