.well{
	background-color: $color-grey-medium;	
	border:2px dashed darken($color-grey-medium, 10%);
}


.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-secondary {
	background: $color-light-bg !important;
	border-top: 1px solid $color-grey-light;
	border-bottom: 1px solid $color-grey-light;
}

.bg-tert {	
	background: #3A3A3A;	
}

.bg-black {
	background: #000;
}

.highlight-black {
	background: $black;
	padding: 5px 3px;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.cta {	
	padding: 10px 0px;
	color: $white;
	h6 {
		line-height: 38px;
		font-weight: $font-weight-bold;
		margin-bottom: 0px;
		margin-top: 5px;
	}
}

