// ==========================================================================
// Mixins
// ==========================================================================

// Misc Mixins
//--------------------------------------------------------------------------------//

// Truncating text: Requires element to be block or inline-block level
@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Input placeholder text
@mixin placeholder-text($color: #c2c8cb, $text-transform: none) {
	color: $color; 
	text-transform: $text-transform;
	&:-ms-input-placeholder { 
		color: $color; 
		text-transform: $text-transform;
	}
	&::-webkit-input-placeholder { 
		color: $color; 
		text-transform: $text-transform;
	}
}

@mixin border-radius($radius:2px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	 -ms-border-radius: $radius;
	 -o-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-sizing($box) {
	-webkit-box-sizing: $box;
	-moz-box-sizing: $box;
	box-sizing: $box;
}

@mixin box-shadow($hor: 0, $vert: 1px, $blur: 1px, $spread: 0, $color: #999) {
	-moz-box-shadow:    $hor $vert $blur $spread $color;
	-webkit-box-shadow: $hor $vert $blur $spread $color;
	box-shadow:         $hor $vert $blur $spread $color;
}

@mixin box-shadow-none() {
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}

@mixin box-shadow-light() {
	@include box-shadow(0,1px,1px,0,#F5F5F5);
}

@mixin tile() {
	width: 100%;
	background-color: $white;
}


// Gradient Mixins
//--------------------------------------------------------------------------------//

@mixin vert-linear-gradient($fromColor, $toColor) {
	background: $fromColor;
	background: -moz-linear-gradient(top,  $fromColor 0%, $toColor 100%);
	background: -webkit-linear-gradient(top,  $fromColor 0%,$toColor 100%);
	background: linear-gradient(to bottom,  $fromColor 0%,$toColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$fromColor', endColorstr='$toColor',GradientType=0 );

}

@mixin hor-linear-gradient($fromColor, $toColor) {
	background: $fromColor;
	background: -moz-linear-gradient(left,  $fromColor 0%, $toColor 100%);
	background: -webkit-linear-gradient(left,  $fromColor 0%,$toColor 100%);
	background: linear-gradient(to right,  $fromColor 0%,$toColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$fromColor', endColorstr='$toColor',GradientType=1 );

}

// Background with gradient
@mixin header-background-gradient($image, $fromColor, $toColor) {
	background-image: $image, -moz-linear-gradient(left,  $fromColor 0%, $fromColor 49%, $toColor 49%, $toColor 100%);
	background-image: $image, -webkit-linear-gradient(left,  $fromColor 0%,$fromColor 49%,$toColor 49%,$toColor 100%);
	background-image: $image, linear-gradient(to right,  $fromColor 0%,$fromColor 49%,$toColor 49%,$toColor 100%);
	background-position: center top, center top;
	background-repeat: repeat-y, no-repeat;
}

// Splints background horizontally between two colors at a specific percentage/pixel count.
@mixin hor-split-gradient($fromColor, $toColor, $percentage) {
	background: $fromColor;
	background: -moz-linear-gradient(left,  $fromColor 0%, $fromColor $percentage, $toColor $percentage, $toColor 100%);
	background: -webkit-linear-gradient(left,  $fromColor 0%,$fromColor $percentage,$toColor $percentage,$toColor 100%);
	background: linear-gradient(to right,  $fromColor 0%,$fromColor $percentage,$toColor $percentage,$toColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$fromColor', endColorstr='$toColor',GradientType=1 );
}

// Splints background vertically between two colors at a specific percentage/pixel count.
@mixin vert-split-gradient($fromColor, $toColor, $percentage) {
	background: $fromColor;
	background: -moz-linear-gradient(top,  $fromColor 0%, $fromColor $percentage, $toColor $percentage, $toColor 100%);
	background: -webkit-linear-gradient(top,  $fromColor 0%,$fromColor $percentage,$toColor $percentage,$toColor 100%);
	background: linear-gradient(to bottom,  $fromColor 0%,$fromColor $percentage,$toColor $percentage,$toColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$fromColor', endColorstr='$toColor',GradientType=0 );
}

// Responsive Mixins
//--------------------------------------------------------------------------------//
@mixin breakpoint($point) {
	@if $point == desktop-large {
		@media (min-width: 1200px) { @content; }
	}
	@else if $point == desktop {
		@media (min-width: 992px) { @content; }
	}
	@else if $point == tablet-large {
		@media (max-width: 991px) { @content; }
	}
	@else if $point == tablet {
		@media (max-width: 768px) { @content; }
	}
	@else if $point ==  phone {
		@media (max-width: 480px)  { @content; }
	}
}